body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: #474747;
    font-size: 20px;
    background-color: rgb(185, 185, 185)
     }
header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color:#1f2124;
    font-size: 50px;
    background-color: rgb(192, 192, 192)
}

.hlink {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #474747;
   font-size: 70px;
}


.link {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #474747;
    font-size: 70px;
}


.hlink {
    font-family: fantasy;
    color: #474747;
    font-size: 70px; 
    }
body.dark {
  background-color: #1f2124;
  color: #fff;
}

.link { color: #474747; }
.link:hover { background-color: #474747; color: #DEDEDC; }


body.dark header {
  color: #edebe4
}

body.dark p {
  color: #edebe4
}

body.dark div.mysocial  {
  color: #edebe4
}

body.dark a.hlink  {
  color: #edebe4
}

body.dark a.hlink:hover  {
  color: #edebe4
}

p.p1 {
  font-size: 17px;
}

p.p2 {
  font-size: 15px;
}

  p.ifDisabled {
    font-size: 13px
  }