body {
    background-color: #8d8d8d7e; /* Cor cinza */
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    flex-direction: column;
}

a {
    font-size: 5vw;
}

p {
    color: rgb(40, 41, 40);
    font-size: 3vw;
}
