body {
    text-align: center;
    color: #474747;
    font-size: 20px;
    background-color: rgb(49, 46, 46)
    }

@font-face {
  font-family: branda;
  src: url(assets/Branda-yolq.ttf);
}

@font-face {
  font-family: overscan;
  src: url(assets/CrtOverscan-Regular.ttf);
}

@font-face {
  font-family: corruptedFile;
  src: url(assets/corrupetdFile.ttf);
}
.container-fluid {
  position: relative ;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.container-fluid .content {
  position: absolute;
  bottom: 70%;
  left: 30%;
  font-style: italic;
  font-family: branda;
  font-size: 200px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  color: #3e4145;
}

div.abT {
  border-radius: 10px;
  margin: 20px;
  font-size: 100px;
  font-family: corruptedFile;
  text-align: center;
  background-color: black
}

[data-aboutanim] {
  opacity: 0;
  transition: .5s;
}

[data-aboutanim="title"] {
  transform: translate3d(20px, 0px, 0px);
}

[data-aboutanim="text"] {
  transform: translate3d(-20px, 0px, 0px);
}

[data-aboutanim].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px)
}






